* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2e9e4;
    cursor: crosshair;
    font-family: 'Manrope', 'Poppins';
}

/* navbar */

.navbar {
    background-color: #B2A496;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5em;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
}

.navbar-dar .navbar-nav .nav-item .nav-link:hover {
    background-color: #dcdde1;
    color: #262626;
}


/* header */

.header {
    background-image: url("../images/plant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.header h1 {
    text-align: center;
    font-size: 80px;
    color: #886E58;
    letter-spacing: 3px;
}


/* about */

#about {
    min-height: fit-content;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 30px;
}

.photo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

#about h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.description {
    text-align: justify;
}


/* skills */

#skills {
    padding-top: 80px;
}

.skills-content {
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.logos:hover {
    opacity: 0.5;
}

/* portfolio */


#portfolio {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.portfolio-content {
    width: 90%;
}


/* contact */

#contact {
    margin-bottom: 20px;
}
.contact-content {
    width: 90%;
}

#contact h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
}

#maps-container {
    margin-bottom: 20px;
}

.form-row {
    outline:5px double #B2A496;
    padding: 10px
}

.form-content {
    text-align: center;
}

.form-control {
    margin: 5px;
}

#btn-send {
    margin-top: 10px;
    background-color: #B2A496;
    border: none;
}

/* footer */
footer {
    height: fit-content;
    /* background-color: #B2A496; */
    /* color: #fff; */
    align-items: center;
    font-size: small;
    padding: 0 40px;
}

footer p {
    margin: 2px;
}

.footer-contents {
    border-top: 2px solid #B2A496;
    padding: 20px;

}

.links {
    display: flex;
    justify-content: center;
}

.copyright p {
    margin: 0;
    text-align: end;
}

.icons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}




/* desktop styling */

@media (min-width: 992px){
    #about {
        width: 70%;
    }
    .portfolio-content {
        width: 50%;
    }
}

@media (min-width: 768px){
    #maps-container {
        margin-bottom: 0;
    }
    .skills-content {
        margin-bottom: 0;
    }
    .photo {
        margin-bottom: 0px;
    }
}