* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krub', 'Ribeye Marrow', sans-serif;
}

.section {
    width: 100%;
}


/* landing */

.landing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../images/pinkbg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.self-photo {
    border-radius: 50%;
}


h1 {
    font-family: 'Ribeye Marrow';
}

.landing h2 {
    font-size: medium;
}

.landing-content {
    margin-left: 30px;
}

/* portfolio */

.portfolio {
    min-height: 100vh;
    background-color: #fae1dd;
}

.portfolio h2 {
    font-family: 'Ribeye Marrow';
    margin: 10px;
}

.techs, .gallery {
    margin-top: 10px;
}

.tech-stack {
    height: 100px;
    margin-top: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#html {
    background-image: url("../images/html.png");
}

#css {
    background-image: url("../images/css.png");
}

#js {
    background-image: url("../images/js.png");
}

#gitlab {
    background-image: url("../images/gitlab.png");
}

#google {
    background-image: url("../images/google.png");
}

.card {
    margin: 10px;
}

/* contact */

.contact {
    min-height: 95vh;
    background-color: #efd3d7;
}

/* .developer {
    margin-top: 10px;
} */

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin: 5px auto;
}

.links {
    margin: auto 5px;
}

/* footer */

footer {
    position: relative;
    bottom: 0;
    font-size: .5em;
    text-align: center;
    border-top: 5px solid #eddcd2;
    background-color: #fff1e6;
    padding-top: 5px;
}

footer p {
    margin: 0;
    padding: 5px;
}

/* media query */